@charset "UTF-8";
/* НАЧАЛО подключаем шрифт "Champagne&Limousines": */
@font-face {
  font-family: "Champagne&Limousines";
  src: url("../fonts/champagne_and_limousines/Champagne_amp_amp_Limousines.otf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: "Champagne&Limousines";
  src: url("../fonts/champagne_and_limousines/Champagne_amp_amp_Limousines_Bold.otf") format("truetype");
  font-weight: bold; }
/* КОНЕЦ подключаем шрифт "Champagne&Limousines"*/
/* НАЧАЛО инициализация переменных SASS: */
/* КОНЕЦ инициализация переменных SASS: */
/* НАЧАЛО ОБЩИЕ СТИЛИ */
/* НАЧАЛО оформляем placeholder'ы форм: */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #333; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #333; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #333; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #333; }

/* КОНЕЦ оформляем placeholder'ы форм */
body {
  background: url("../img/backround_plaster.jpg");
  color: #222;
  font-family: "Champagne&Limousines", sans-serif;
  font-size: 18px;
  line-height: 1.2; }

a {
  color: inherit; }
  a:hover {
    color: inherit; }

.btn {
  background: #ef1a1a;
  color: white;
  display: inline-block;
  font-size: 20px;
  border-radius: 2px;
  border: none;
  margin: 10px 0;
  padding: 7px 15px;
  cursor: pointer;
  text-transform: uppercase; }
  .btn:hover {
    background: #f29a4a;
    color: white;
    text-decoration: none; }
  .btn:active, .btn:focus, .btn::selection {
    box-shadow: 2px 2px 2px black; }

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-family: "Champagne&Limousines", sans-serif;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2; }

h1 {
  font-size: 24px; }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 30px; } }

h2 {
  font-size: 22px;
  font-weight: bold; }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 24px; } }

/* КОНЕЦ ОБЩИЕ СТИЛИ */
/* НАЧАЛО навбар */
.uk-navbar-nav {
  float: none;
  border-bottom: 3px solid #e8ae79;
  text-align: center; }
  .uk-navbar-nav > li {
    float: none;
    display: inline-block; }
    .uk-navbar-nav > li a {
      font-family: "Champagne&Limousines", sans-serif;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase; }
  .uk-navbar-nav > li.uk-active > a {
    color: #ef7f1a; }

/* КОНЕЦ навбар */
/* НАЧАЛО блока "Начало" */
.home {
  background: #e5e5e5;
  padding: 35px 0; }
  @media screen and (min-width: 768px) {
    .home .uk-container {
      display: flex;
      justify-content: space-between;
      align-items: center; } }
  @media screen and (min-width: 1220px) {
    .home {
      min-height: 450px;
      background: 50% 100%/cover url("../img/main_background.png") no-repeat; } }
  .home .logo_and_phone_col {
    text-align: center;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .home .logo_and_phone_col {
        max-width: 220px; } }
    .home .logo_and_phone_col h3 {
      margin-top: 25px;
      margin-bottom: 0;
      text-transform: none;
      font-size: 42px;
      font-weight: bold; }
    .home .logo_and_phone_col img {
      max-width: 250px; }
    .home .logo_and_phone_col .phone-numbers {
      line-height: 1.5;
      font-size: 24px; }
      .home .logo_and_phone_col .phone-numbers p {
        margin: 0; }
  .home form {
    text-align: center;
    background: rgba(232, 174, 121, 0.75);
    border-radius: 5px;
    max-width: 250px;
    box-sizing: border-box;
    padding: 25px 25px 40px;
    margin: 0 auto; }
    .home form p {
      font-size: 24px;
      color: white; }
    .home form input {
      font-family: "Champagne&Limousines", sans-serif;
      font-size: 18px;
      box-sizing: border-box;
      width: 100%;
      border-radius: 2px;
      border: none;
      margin: 10px 0;
      padding: 5px 10px; }
    .home form input[type=submit] {
      background: #ef1a1a;
      color: white;
      cursor: pointer; }
  .home .slogan {
    margin: 15px auto 0;
    line-height: 1.6; }
    @media screen and (min-width: 768px) {
      .home .slogan {
        max-width: 300px; } }
    .home .slogan span {
      font-size: 1.4em;
      font-weight: bold;
      text-transform: none; }

/* КОНЕЦ блока "Начало" */
/* НАЧАЛО блока "services" */
.services {
  padding: 35px 0 25px;
  text-align: center; }
  .services > h2 {
    margin-bottom: 40px; }
  .services .uk-grid > li {
    display: flex;
    flex-flow: column; }
    .services .uk-grid > li > .border {
      flex: 1;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      padding: 15px; }
    .services .uk-grid > li .border-match {
      border: 1px #615555 solid; }
    .services .uk-grid > li h2 {
      font-size: 20px; }
    .services .uk-grid > li img {
      max-width: 100px; }
      @media screen and (min-width: 768px) {
        .services .uk-grid > li img {
          max-width: 150px; } }
    .services .uk-grid > li ul {
      padding: 0;
      margin: 0;
      list-style: inside circle; }
    .services .uk-grid > li h3 {
      margin: 5px 0;
      text-align: left;
      text-transform: none; }
    .services .uk-grid > li .blink-cb-open-popup {
      margin-top: auto; }

/* КОНЕЦ блока "services" */
/* НАЧАЛО блока "advantages" */
.advantages {
  padding: 35px 0 25px;
  background: white;
  text-align: center; }
  .advantages > div > h2 {
    margin-bottom: 35px; }
  .advantages [class*="uk-grid"] > li {
    height: 160px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: stretch; }
  .advantages .second-col {
    display: flex;
    flex-flow: column; }
  .advantages .border {
    color: white;
    border: 2px solid #ef7f1a;
    background: #ef7f1a;
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px; }
  .advantages li:nth-child(2) .border {
    background: #727271;
    border-color: #727271; }
  .advantages li:nth-child(3) .border {
    background: #7690c9;
    border-color: #7690c9; }
  .advantages li:nth-child(4) .border {
    background: #e31e24;
    border-color: #e31e24; }
  .advantages .big-number {
    font-size: 48px;
    font-weight: bold; }
  .advantages li h2 {
    color: white;
    font-size: 22px;
    font-weight: normal;
    margin: 0; }
  .advantages .img-and-text {
    flex: 1;
    margin-top: 25px; }
    @media screen and (min-width: 768px) {
      .advantages .img-and-text {
        margin-top: 0;
        font-size: 28px; } }
    .advantages .img-and-text .border {
      display: flex;
      flex-flow: row wrap;
      padding: 1px; }
      @media screen and (min-width: 1220px) {
        .advantages .img-and-text .border {
          flex-flow: row nowrap; } }
    @media screen and (min-width: 1220px) {
      .advantages .img-and-text img {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px; } }
  .advantages .text-section {
    font-size: 22px;
    padding: 0 20px; }
    @media screen and (min-width: 1220px) {
      .advantages .text-section {
        font-size: 28px; } }
    .advantages .text-section span {
      font-weight: bold; }
  .advantages .btn {
    margin-top: 25px; }

/* КОНЕЦ блока "advantages" */
/* НАЧАЛО блока "work-scheme" */
.work-scheme {
  padding: 35px 0 25px; }
  .work-scheme .uk-grid {
    text-align: center; }
    .work-scheme .uk-grid > li {
      display: flex;
      flex-flow: column; }
      .work-scheme .uk-grid > li h3 {
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif; }
      .work-scheme .uk-grid > li img {
        max-width: 65px; }
      @media screen and (min-width: 768px) {
        .work-scheme .uk-grid > li {
          flex-flow: row;
          align-items: center; }
          .work-scheme .uk-grid > li img {
            max-width: none; } }

/* КОНЕЦ блока "work-scheme" */
/* НАЧАЛО блока "certificates" */
.certificates {
  padding: 25px 0 35px; }
  .certificates a {
    padding: 25px;
    display: block; }

/* КОНЕЦ блока "certificates" */
/* НАЧАЛО блока "about" */
.about {
  padding: 35px 0 25px;
  background: white;
  font-size: 20px;
  line-height: 1.4;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif; }
  .about img {
    padding-bottom: 25px; }

/* КОНЕЦ блока "about" */
/* НАЧАЛО блока "clients" */
.clients {
  padding: 35px 0 50px;
  text-align: center; }
  .clients h2 {
    margin-bottom: 35px; }
  .clients li > div {
    border: 3px solid #edb57a;
    border-radius: 5px;
    padding: 10px; }
  .clients h3 {
    font-weight: bold;
    text-transform: uppercase; }

/* КОНЕЦ блока "clients" */
/* НАЧАЛО footer */
footer {
  font-size: 20px;
  background: black;
  color: white; }
  footer .logo-container {
    display: flex;
    flex-flow: column;
    justify-content: center; }
    footer .logo-container .logo {
      width: 85%; }
    footer .logo-container p {
      text-align: center;
      font-size: 30px; }
  footer .map-container {
    padding-top: 25px;
    padding-bottom: 25px; }
    @media screen and (min-width: 768px) {
      footer .map-container {
        padding-top: 0;
        padding-bottom: 0; } }
  footer .contacts-container {
    text-align: center; }
    @media screen and (min-width: 768px) {
      footer .contacts-container {
        text-align: left; } }
    footer .contacts-container h3 {
      color: white;
      text-align: center; }
      @media screen and (min-width: 768px) {
        footer .contacts-container h3 {
          text-align: left; } }

/* КОНЕЦ footer */

/*# sourceMappingURL=styles.css.map */
