/* НАЧАЛО подключаем шрифт "Champagne&Limousines": */
@font-face {
  font-family: "Champagne&Limousines";
  src: url("../fonts/champagne_and_limousines/Champagne_amp_amp_Limousines.otf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Champagne&Limousines";
  src: url("../fonts/champagne_and_limousines/Champagne_amp_amp_Limousines_Bold.otf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Chadwick";
  src: url("../fonts/9873.otf") format("truetype");
}
/* КОНЕЦ подключаем шрифт "Champagne&Limousines"*/

/* НАЧАЛО инициализация переменных SASS: */
$color-bright: #ef7f1a;
$main-font: "Champagne&Limousines", sans-serif;
/* КОНЕЦ инициализация переменных SASS: */

/* НАЧАЛО ОБЩИЕ СТИЛИ */
/* НАЧАЛО оформляем placeholder'ы форм: */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #333;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #333;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #333;
}
:-moz-placeholder { /* Firefox 18- */
  color: #333;
}
/* КОНЕЦ оформляем placeholder'ы форм */

body {
  background: url("../img/backround_plaster.jpg");
  color: #222;
  font-family: Chadwick;
  font-size: 18px;
  line-height: 1.2;
}

a {
  color: inherit;
  &:hover {
    color: inherit;
  }
}

.btn {
  background: #ef1a1a;
  color: white;
  display: inline-block;
  font-size: 18px;
  border-radius: 2px;
  border: none;
  margin: 10px 0;
  padding: 7px 15px;
  cursor: pointer;
  text-transform: uppercase;
  &:hover {
    background: lighten($color-bright, 10);
    color: white;
    text-decoration: none;
  }
  &:active, &:focus, &::selection{
    box-shadow: 2px 2px 2px black;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-family: $main-font;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
}
h1 {
  font-size: 24px;
  @media screen and (min-width: 768px) {
    font-size: 30px;
  }
}
h2 {
  font-size: 22px;
  font-weight: bold;
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}
/* КОНЕЦ ОБЩИЕ СТИЛИ */

/* НАЧАЛО навбар */
.uk-navbar-nav {
  float: none;
  border-bottom: 3px solid #e8ae79;
  text-align: center;

  & > li {
    float: none;
    display: inline-block;

    a {
      font-family: $main-font;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  & > li.uk-active {
    & > a {
      color: $color-bright;
    }
  }
}
/* КОНЕЦ навбар */

/* НАЧАЛО блока "Начало" */
.home {
  background: #e5e5e5;
  padding: 35px 0;
  @media screen and (min-width: 768px) {
    .uk-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  @media screen and (min-width: 1220px) {
    min-height: 450px;
    background: 50% 100%/cover url("../img/main_background.png") no-repeat;
  }

  .logo_and_phone_col {
    text-align: center;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      max-width: 220px;
    }
    h3 {
      margin-top: 25px;
      margin-bottom: 0;
      text-transform: none;
      font-size: 42px;
      font-weight: bold;
    }
    img {
      max-width: 250px;
    }
    .phone-numbers {
      line-height: 1.5;
      font-size: 20px;
      p {
        margin: 0;
      }
    }
  }
  form {
    text-align: center;
    background: rgba(232, 174, 121, 0.75);
    border-radius: 5px;

    max-width: 250px;
    box-sizing: border-box;

    padding: 25px 25px 40px;
    margin: 0 auto;

    p {
      font-size: 24px;
    }

    input {
      font-family: $main-font;
      font-size: 18px;
      box-sizing: border-box;
      width: 100%;
      border-radius: 2px;
      border: none;
      margin: 10px 0;
      padding: 5px 10px;
    }

    input[type=submit] {
      background: #ef1a1a;
      color: white;
      cursor: pointer;
    }
  }
  .slogan {
    margin: 15px auto 0;
    line-height: 1.6;
    @media screen and (min-width: 768px) {
      max-width: 300px;
    }
    span {
      font-size: 1.4em;
      font-weight: bold;
      text-transform: none;
    }
  }
}
/* КОНЕЦ блока "Начало" */

/* НАЧАЛО блока "services" */
.services {
  padding: 35px 0 25px;
  text-align: center;
  &>h2 {
    margin-bottom: 40px;
  }
  .uk-grid {
    & > li {
      display: flex;
      flex-flow: column;
      & > .border {
        flex: 1;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: 15px;
      }
      .border-match{
        border: 1px #615555 solid;
      }
      h2 {
        font-size: 20px;
      }
      img {
        max-width: 100px;
        @media screen and (min-width: 768px){
          max-width: 150px;
        }
      }
      ul {
        padding: 0;
        margin: 0;
        list-style: inside circle;
      }
      h3 {
        margin: 5px 0;
        text-align: left;
        text-transform: none;
        font-family: Chadwick;
        font-size: 16px;
      }
      .blink-cb-open-popup {
        margin-top: auto;
      }
    }
  }
}
/* КОНЕЦ блока "services" */

/* НАЧАЛО блока "advantages" */
.advantages {
  padding: 35px 0 25px;
  background: white;
  text-align: center;
  & > div > h2 {
    margin-bottom: 35px;
  }
  [class*="uk-grid"] > li {
    height: 160px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
  }
  .second-col {
    display: flex;
    flex-flow: column;
  }
  .border {
    color: white;
    border: 2px solid $color-bright;
    background: $color-bright;
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  li:nth-child(2) .border {
    background: #727271;
    border-color: #727271;
  }
  li:nth-child(3) .border {
    background: #7690c9;
    border-color: #7690c9;
  }
  li:nth-child(4) .border {
    background: #e31e24;
    border-color: #e31e24;
  }
  .big-number {
    font-size: 48px;
    font-weight: bold;
  }
  li h2 {
    color: white;
    font-size: 22px;
    font-weight: normal;
    margin: 0;
  }
  .img-and-text {
    flex: 1;
    margin-top: 25px;
    @media screen and (min-width: 768px){
      margin-top: 0;
      font-size: 28px;
    }
    .border {
      display: flex;
      flex-flow: row wrap;
      padding: 1px;
      @media screen and (min-width: 1220px){
        flex-flow: row nowrap;
      }
    }
    img {
      @media screen and (min-width: 1220px){
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
    }
  }
  .text-section {
    font-size: 22px;
    padding: 0 20px;
    @media screen and (min-width: 1220px){
      font-size: 28px;
    }
    span {
      font-weight: bold;
    }
  }
  .btn {
    margin-top: 25px;
    font-size: 18px;
  }
}
/* КОНЕЦ блока "advantages" */

/* НАЧАЛО блока "work-scheme" */
.work-scheme {
  padding: 35px 0 25px;
  .uk-grid {
    text-align: center;
    & > li {
      display: flex;
      flex-flow: column;
      h3 {
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
      }
      img {
        max-width: 65px;
      }
      @media screen and (min-width: 768px){
        flex-flow: row;
        align-items: center;
        img {
          max-width: none;
        }
      }
    }
  }
}
/* КОНЕЦ блока "work-scheme" */

/* НАЧАЛО блока "certificates" */
.certificates {
  padding: 25px 0 35px;
  a {
    padding: 25px;
    display: block;
  }
}
/* КОНЕЦ блока "certificates" */

/* НАЧАЛО блока "about" */
.about {
  padding: 35px 0 25px;
  background: white;
  font-size: 20px;
  line-height: 1.4;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;

  img {
    padding-bottom: 25px;
  }
}
/* КОНЕЦ блока "about" */

/* НАЧАЛО блока "clients" */
.clients {
  padding: 35px 0 50px;
  text-align: center;
  h2 {
    margin-bottom: 35px;
  }
  li > div {
    border: 3px solid #edb57a;
    border-radius: 5px;
    padding: 10px;
  }
  h3 {
    font-weight: bold;
    text-transform: uppercase;
  }
}
/* КОНЕЦ блока "clients" */

/* НАЧАЛО footer */
footer {
  font-size: 20px;
  background: black;
  color: white;
  .logo-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    .logo {
      width: 85%;
    }
    p {
      text-align: center;
      font-size: 30px;
    }
  }
  .map-container {
    padding-top: 25px;
    padding-bottom: 25px;
    @media screen and (min-width: 768px) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  .contacts-container {
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
    h3 {
      color: white;
      text-align: center;
      @media screen and (min-width: 768px) {
        text-align: left;
      }
    }
  }
}
/* КОНЕЦ footer */